@import '../../../vars.css';

.dateSelector {
  display: grid;
  grid-template-columns: 40px 1fr 1fr 40px;
  grid-gap: 8px;
  align-items: center;
  min-width: 240px;
  max-width: 360px;
}

.selectorButton {
  margin-bottom: 6px;
}

.yearSelector {
  input {
    text-align: right;
  }
}
