@import '../../vars.css';

.lists {
  padding: 8px;
  justify-content: stretch;

  @media (--phone) {
    display: flex;
    flex-wrap: wrap;
  }

  &::after {
    margin: 0 8px;

    @media (--phone) {
      content: '';
      flex: 1 0 40%;
    }

    @media (--tablet) {
      flex: 1 0 25%;
    }
  }
}

.item {
  position: relative;
  display: block;
  margin: 16px 8px;

  @media (--phone) {
    flex: 1 0 40%;
    margin: 8px;
  }

  @media (--tablet) {
    flex: 1 0 25%;
  }
}

.itemTitle {
  composes: title from '../../components/Sticker/Sticker.css';
  margin-right: 24px;
}

.itemMenu {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 1;
  font-size: var(--baseFontSize);
}
