version: "3"
services:
  web:
    build:
      context: ./web
      dockerfile: Dockerfile.dev
    environment:
      DOMAIN: stickerity.local
    volumes:
      - ./web/src:/srv/web/src
      - ./web/.babelrc:/srv/web/.babelrc
      - ./web/package.json:/srv/web/package.json
      - ./web/package-lock.json:/srv/web/package-lock.json
      - ./web/postcss.config.js:/srv/web/postcss.config.js
      - ./web/webpack.common.js:/srv/web/webpack.common.js
      - ./web/webpack.dev.js:/srv/web/webpack.dev.js
    ports:
      - 5000:5000

