version: "3"
services:
  db:
    env_file: .env.dev
    ports:
      - "127.0.0.1:5432:5432"
  api:
    env_file: .env.dev
    volumes:
      - ./ssl:/srv/ssl
      - ./api/src:/srv/api/src
      - ./api/.babelrc:/srv/api/.babelrc
      - ./api/nodemon.json:/srv/api/nodemon.json
      - ./api/dev.js:/srv/api/dev.js
      - ./api/.sequelizerc:/srv/api/.sequelizerc
      - ./api/package.json:/srv/api/package.json
      - ./api/package-lock.json:/srv/api/package-lock.json
    ports:
      - 5001:5001
      - 9229:9229
    command: ["npm", "start"]
  web:
    build:
      context: ./web
      dockerfile: Dockerfile.dev
    env_file: .env.dev
    environment:
      NODE_ENV: development
    volumes:
      - ./ssl:/srv/ssl
      - ./web/src:/srv/web/src
      - ./web/.babelrc:/srv/web/.babelrc
      - ./web/package.json:/srv/web/package.json
      - ./web/package-lock.json:/srv/web/package-lock.json
      - ./web/postcss.config.js:/srv/web/postcss.config.js
      - ./web/webpack.common.js:/srv/web/webpack.common.js
      - ./web/webpack.dev.js:/srv/web/webpack.dev.js
    ports:
      - 443:5000
      - 5000:5000
