version: "3"
services:
  db:
    env_file: .env
  api:
    env_file: .env
    command: ["npm", "run", "production"]
  web:
    build:
      args:
        - DOMAIN
        - RECAPTCHA_KEY
    env_file: .env
    volumes:
      - ./ssl:/srv/ssl
    ports:
      - 80:80
      - 443:443
