version: "3"
services:
  db:
    ports:
      - "127.0.0.1:5432:5432"
  api:
    environment:
      SECRET: my_very_strong_secret
    command: ["npm", "run", "production"]
  nginx:
    ports:
      - 80:80
      - 443:443
