.root {
  position: relative;
  padding-bottom: 24px;
}

.input {
  position: relative;
  padding-bottom: 0;
  margin-bottom: 8px;
}

.inputElement {
  padding-right: 32px;
}

.toggleButton {
  position: absolute;
  right: 0;
  bottom: 0;
}

.tooShort,
.veryWeak {
  color: #822;
}

.weak {
  color: #b44;
}

.medium {
  color: #c80;
}

.good {
  color: #284;
}

.strong {
  color: #6a8;
}
