@import '../../vars.css';

.header {
  display: flex;
  justify-content: space-between;
  height: var(--headerHeight);
  padding: 0 16px;
}

.logo {
  line-height: var(--headerHeight);
  font-family: var(--decorationFont);
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  color: #ccc;
}

.userMenu {
  display: flex;
  align-items: center;
  height: var(--headerHeight);
}

.link {
  margin-left: 16px;
  font-family: var(--decorationFont);
  color: var(--linkColor);
  text-decoration: none;
}
