@import '../../vars.css';

.header {
  display: flex;
  justify-content: space-between;
  height: var(--headerHeight);
  padding: 0 16px;
}

.logo {
  line-height: var(--headerHeight);
  font-family: var(--decorationFont);
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  color: #ccc;
}

.userMenu {
  display: flex;
  align-items: center;
  height: var(--headerHeight);
}

.menuLink {
  margin-left: 16px;
  padding: 0;
  border: 0;
  font-family: var(--decorationFont);
  color: var(--linkColor);
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
}

.userMenuButton {
  margin: 0 -16px 0 16px;
}

.userMenuPopup {
  margin-top: 36px;
}

.userMenuItem {
  text-align: left;
}

.userLink {
  text-align: left;
  color: var(--baseColor);
  text-decoration: none;
}
