@import '../../vars.css';

.header {
  height: var(--headerHeight);
  padding: 0 16px;
}

.logo {
  line-height: var(--headerHeight);
  font-family: var(--decorationFont);
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  color: #ccc;
}

