.addButton {
  width: 100%;
  padding: 0 32px;
  text-align: left;
}

.items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.item {
  display: flex;
  align-items: center;
}

.handle {
  flex: 0 0 auto;
  margin-right: 8px;
  border: 0;
  background-color: transparent;
  outline: 0;
  cursor: move;
  opacity: 0.1;
  transition: opacity 0.25s;

  .item:hover & {
    opacity: 0.5;
  }

  span {
    display: block;
  }
}

.checkbox {
  flex: 0 0 auto;
  margin: 0 16px 0 0;
}

.input {
  flex: 1 1 auto;
  margin: 0;
  padding: 0;
}

.del {
  flex: 0 0 auto;
  opacity: 0.2;
  transition: opacity 0.25s;

  .item.focus &,
  .item:hover & {
    opacity: 1;
  }
}
