.root {
  max-width: 480px;
  margin: 0 auto;
  padding-bottom: 4px;
}

.error {
  color: #b44;
}

.passwordAttention {
  margin-bottom: 16px;

  b {
    font-size: 16px;
  }
}

.checkboxWrap {
  margin: 16px 0;
}
