@import '../../vars.css';

.board {
  display: grid;
  grid-gap: 16px;
  padding: 16px;

  @media (--phone) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (--tablet) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (--desktop) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.item {
  display: block;
}

.addListButtonSticker {
  composes: item;
  display: flex;
  padding: 0;
}

.addListButton {
  display: flex;
  flex: 1 0 auto;
  z-index: 1;
  height: calc(100% + 16px);
  align-items: center;
  margin: 0;
}

.addListButtonIcon {
  font-size: 48px;
  color: #ccc;
  border-radius: 50%;
}

.addListButtonText {
  margin: 0 32px 0 0;
  font-family: var(--decorationFont);
  font-size: 18px;
  text-transform: uppercase;
  color: #aaa;
}

.itemTitle {
  composes: title from '../../components/Sticker/Sticker.css';
  margin-right: 24px;
}

.itemMenu {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 1;
  font-size: var(--baseFontSize);
}
