@import '../../../vars.css';

.root {
  display: flex;
  padding: 16px 0;
  position: relative;
  border-top: solid 1px rgba(0, 0, 0, 0.1);

  &:first-of-type {
    border-top: 0;
  }
}

.info {
  flex: 1 1 auto;
  color: var(--baseColor);
  text-decoration: none;
}

.title {
  font-family: var(--decorationFont);
  font-size: 16px;
  font-weight: 600;
}

.button {
  width: 32px;
  height: 32px;
}
