@import '../../../vars.css';

.root {
  position: relative;
}

.field {
  display: flex;
  align-items: center;
}

.input {
  flex: 1 0 auto;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  min-width: 32px;
  height: 32px;
  margin-left: 8px;
  color: var(--baseColor);
  text-decoration: none;
}
