@import '../../../vars.css';

.root {
  position: relative;
  margin: 16px;
}

.deleteButton {
  position: absolute;
  display: flex;
  top: 8px;
  right: 8px;
  width: 36px;
  height: 36px;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.field {
  display: flex;
  align-items: center;
}

.input {
  flex: 1 0 auto;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  min-width: 32px;
  height: 32px;
  margin-left: 8px;
  color: var(--baseColor);
  text-decoration: none;
}

.generationForm {
  max-width: 480px;
}

.generatedPasswordWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 16px 0 32px;
}

.generatedPassword {
  flex: 1 0 auto;
  max-width: calc(100% - 64px);
  margin-right: 16px;
  font-size: 16px;
}
