.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 64px 16px;
  background-color: rgba(0, 0, 0, 0.5);
}

.sticker {
  max-width: 480px;
  margin: 0 auto;
  padding-bottom: 4px;
}

.error {
  color: #b44;
}
