.root {
  margin: 0;
}

.deleteButton {
  position: absolute;
  display: flex;
  top: 8px;
  right: 8px;
  width: 36px;
  height: 36px;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.text {
  font-family: var(--baseFont);
  color: var(--baseColor);
}
