@import '../../vars.css';

.root {
  margin: 16px;
}

.head {
  composes: title from '../../components/Sticker/Sticker.css';
  display: flex;
  margin: 0 24px 0 0;
}

.back {
  margin: -8px 8px 0 -8px;
}

.title {
  flex: 1;
}

.items {
  list-style: none;
  padding: 0;
}
