{
  "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties",
    "transform-export-extensions"
  ],
  "presets": [
    [
      "env",
      { "targets": { "node": "10" } }
    ]
  ]
}
