{
  "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties",
    "transform-export-extensions",
    "react-hot-loader/babel"
  ],
  "presets": [
    "react"
  ],
  "env": {
    "production": {
      "presets": [
        [
          "env",
          {
            "modules": false,
            "useBuiltIns": true,
            "targets": { "browsers": ["last 2 versions", "ie >= 11"] }
          }
        ]
      ],
      "plugins": [
        "transform-react-remove-prop-types",
        ["transform-class-properties", { "spec": true }]
      ]
    }
  }
}
