{
  "plugins": [
    '@babel/plugin-transform-modules-commonjs',
    "@babel/plugin-proposal-export-default-from",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-syntax-dynamic-import",
    "react-hot-loader/babel"
  ],
  "presets": [
    "@babel/preset-react",
    "@babel/preset-env"
  ],
  "env": {
    "production": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "modules": false,
            "targets": { "browsers": ["last 2 versions", "ie >= 11"] }
          }
        ]
      ],
      "plugins": [
        "transform-react-remove-prop-types",
        ["@babel/plugin-proposal-class-properties", { "spec": true }]
      ]
    }
  }
}
